@import "ui-variables";

.html-live-view {
  position: relative;
  flex: 1;
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 0;
  overflow: hidden;
  background-color: @app-background-color;

  iframe {
    flex: 1;
    width: 100%;
    height: 100%;
    border: none;
    background-color: @app-background-color;
  }
}
